/************************************/
/*  Game                            */
/************************************/

body {
    margin: 0;
    padding: 0;
    background-color: #000000;
}


/************************************/
/*  Credits                         */
/************************************/

/* body {
    background-color: white;
} */
.left {
    float: left;
    width: 248px;
    margin: 20px;
}

.sponsors {
    margin: 0 auto;
}

.sponsors {
    clear: both;
    width: 580px;
    margin: 0 auto;
}
#mozillap p{
    text-align: right;
}